.chartPaneContainer {
  background-color: rgb(249 250 251);
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid rgb(219 219 219);
}

.chartTabUl {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.chartTabLi {
  margin: 0;
  padding: 0;
}

.chartTabButton {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.chartTabButton:hover {
  border: none;
  cursor: pointer;
  filter: brightness(0.95);
  padding: 0.5rem;
  transition: 0.3s;
}
