.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headerWrapper {
  align-items: center;
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: center;
  height: 4rem;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 62rem;
  padding: 1.5rem;
  width: 100%;
}

.mainWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 62rem;
  padding: 1.5rem;
  width: 100%;
  min-height: 100%;
}

.footer {
  align-items: center;
  border-top: 1px solid rgb(230 231 232);
  color: rgb(200 201 202);
  display: flex;
  font-size: 0.8rem;
  height: 4rem;
  justify-content: center;
  margin-top: auto;
}
