.popuTrackHeader {
  display: flex;
  align-items: center;
  color: white;
  flex-direction: row;
  gap: 0.5rem;
  line-height: 1;
}

.popuTrackLogoIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.popuTrackLogoText {
  font-size: 1.5rem;
}
