.checkboxContainer {
  background-color: rgb(249 250 251);
  border-radius: 0.5rem;
  padding: 1rem;
}

.chartPaneContainer {
  background-color: rgb(249 250 251);
  border-radius: 0.5rem;
  padding: 1rem;
}
