/* PopuTrackLogo */
.popuTrackLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  color: white;
}

/* page */
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.5rem;
}

.header {
  display: flex;
  flex-grow: 0;
  height: 4rem;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgb(59 130 246);
  padding: 1rem;
}

/* PopuTrackPane.tsx */
.checkboxContainer {
  border-radius: 0.5rem;
  background-color: rgb(249 250 251);
  margin-top: 1rem;
  padding: 1rem;
}

.chartPaneContainer {
  border-radius: 0.5rem;
  background-color: rgb(249 250 251);
  margin-top: 1rem;
  padding: 1rem;
}

/* CheckboxPane */
.checkbox {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

.checkboxItem {
  width: 5.5rem;
}

.checkboxLabel {
  margin-left: 0.2rem;
}
