/* page */
.main {
  align-items: center;
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  min-height: 100vh;
  padding: 1.5rem;
  width: 100%;
}

.header {
  align-items: center;
  background-color: rgb(59 130 246);
  border-radius: 0.5rem;
  display: flex;
  flex-grow: 0;
  height: 4rem;
  padding: 1rem;
}

.footer {
  align-items: center;
  border-top: 1px solid rgb(230 231 232);
  color: rgb(200 201 202);
  display: flex;
  flex-grow: 0;
  font-size: 0.8rem;
  height: 4rem;
  justify-content: center;
  margin-top: 4rem;
}
