.popuTrackLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.5rem;
}

.header {
  display: flex;
  flex-grow: 0;
  height: 4rem;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgb(59 130 246);
  padding: 1rem;
}

.checkbox {
  border-radius: 0.5rem;
  background-color: rgb(249 250 251);
  margin-top: 1rem;
  padding: 1rem;
}

.chartPane {
  border-radius: 0.5rem;
  background-color: rgb(249 250 251);
  margin-top: 1rem;
  padding: 1rem;
}

.chartTabUl {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.chartTabLi {
  margin: 0;
  padding: 0;
}

.chartTabButton {
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.chartTabButton:hover {
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.3s;
  filter: brightness(0.95);
}
